  <div class="top-menu">
    <div class="menu-roomname">
      <%= @room.thread_name %>
    </div>
    <%= image_tag "hamburger_menu.png", class: "menu-img" %>
  </div>
<div class="main-message">
  <% @messages.each do |message| %>
    <div class="message">
      <div class="message-info">
        <p class="info-user"><%= message.user.username %></p>
        <p class="info-date"><%= message.created_at %></p>
      </div>
      <div class="message-content">
        <%= safe_join(message.content.split("\n"), tag(:br)) %>
      </div>
    </div>
  <% end %>
</div>

<div class="send-enter">
  <%= form_with url: room_messages_path(@room.id), method: :POST, class: 'send-form', local: true do |f| %>
    <%= f.text_area :content, class: "send-input", placeholder: "type a message or time" %>
    <%= f.submit '送信', class: "submit" %>
  <% end %>
</div>