<div class="top-menu" id=<%@room.id%>>
  <div class="menu-roomname">
    <%= @room.thread_name %>
  </div>
  <div class="menu-lots"> 
    <%= link_to image_tag("edit.png", class: "room-edit"), edit_room_path(@room.public_uid) %>
  </div>
</div>
<div id="main-message">
  <div id="list">
  </div>
  <% @messages.each do |message| %>
    <div class="message">
      <div class="information">
        <div class="message-info">
          <p class="info-user"><%= link_to message.user.username, user_path(message.user.public_uid), class: "info-username" %></p>
        </div>
        <%# <%= 以下コメントアウト中 %>
        <% if false %>
        <% if message.user.id == current_user.id %>
          <ul class="navigation">
            <li>
              <%= image_tag "/images/three_point.png", class: "menu-tag" %>
              <ul>
                <li><%= link_to "削除", room_message_path(@room.public_uid, message.id), method: :delete %></li>
              </ul>
            </li>
          </ul>
        <% end %>
        <% end %>
        <%# <%= 以上コメントアウト中 %>
      </div>
      <div class="message-contents">
        <div class="message-content">
          <%= safe_join(message.content.split("\n"), tag(:br)) %>
        </div>
        <div class="message-date">
          <p class="info-date"><%= l message.created_at, format: :short %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="send-enter">
  <%= form_with url: room_messages_path(@room.public_uid), method: :post, id: "send-form", local: true do |f| %>
    <%= f.text_area :content, id: "send-input", placeholder: "type a message or time" %>
    <%= f.submit '送信', id: "submit" %>
  <% end %>
</div>