<% if current_user == @user %>
  <div class="follow-form">
    <%= link_to "編集する", edit_user_path(@user.public_uid), class: "user-edit" %>
  </div>
<% else %>
  <% if current_user.following?(@user) %>
    <%= form_with model: current_user.relationships.find_by(follow_id: @user.id), method: :delete, class: "follow-form",local: true do |f| %>
      <%= hidden_field_tag :follow_id, @user.id %>
      <%= f.submit 'フォローを外す', class: 'btn-danger follow-btn' %>
    <% end %>
  <% else %>
    <%= form_with model: current_user.relationships.build, class: "follow-form", local: true do |f| %>
      <%= hidden_field_tag :follow_id, @user.id %>
      <%= f.submit 'フォローする', class: 'btn-primary follow-btn' %>
    <% end %>
  <% end %>
<% end %>