<%= render 'shared/second_header.html.erb' %>

<div class="user-info">
  <div class="info-user">
    <h1>ユーザー情報</h1>

    <div class="user-identification-info">
      <h3>ID</h3>
       <%= @user.public_uid %>
    </div>

    <div class="user-identification-info">
      <h3>ユーザー名</h3>
      <%= @user.username %>
    </div>

    <div class="user-identification-info">
      <h3>タイム</h3>
      <%= link_to "ここをクリック", "/", class: "users-link" %>
    </div>

    <div class="follow-follower-lists">
      <%= link_to "10人フォロー", "/", class: "follow-follower users-link" %>
      <%= link_to "10人フォロワー", "/", class: "follow-follower users-link" %>
    </div>

    <%= form_with url: "#", class: "follow-button" do |f| %>
      <%= f.submit "フォローする", class: "follow-submit" %>
    <% end %>
  </div>

</div>

<%= render 'shared/footer.html.erb' %>