<%= render 'shared/second_header.html.erb' %>

<div class="user-infomation">
  <div class="infomation-user">
    <h1>ユーザー情報</h1>

    <div class="user-identification-info">
      <h3>ID</h3>
       <%= @user.public_uid %>
    </div>

    <div class="user-identification-info">
      <h3>ユーザー名</h3>
      <%= @user.username %>
    </div>

    <div class="user-identification-info">
      <h3>タイム</h3>
      <%= link_to "ここをクリック", "/", class: "users-link" %>
    </div>

    <div class="follow-follower-lists">
      <%= link_to "#{@following}フォロー", following_user_path(@user.public_uid), class: "follow-follower users-link" %>
      <%= link_to "#{@follower}フォロワー", follower_user_path(@user.public_uid), class: "follow-follower users-link" %>
    </div>

    <%= render 'relationships/follow_button.html.erb', user: @user %>
    <div class="flash-message">
      <%= flash[:success] %>
      <%= flash[:alert] %>
    </div>
  </div>

</div>

<%= render 'shared/footer.html.erb' %>