<div class="sidebar-menu">
  <div class="sidebar-threads">
    <%= image_tag "plus.png", alt: "スレッドを作成する", class: "sidebar-img" %>
    <%= link_to "スレッドを作成する", new_room_path, class: "sidebar-button" %>
  </div>
  <% unless current_page?(new_room_path) || request.path.include?("users") %>
    <div class="sidebar-threads">
      <%= image_tag "stopwatch.png", alt: "タイムを測る", class: "sidebar-img" %>
      <%= link_to "タイムを測る", new_room_watch_path(@room.public_uid), class: "sidebar-button" %>
    </div>
    <div class="sidebar-threads">
      <%= image_tag "time_registration.png", alt: "タイムを登録する", class: "sidebar-img" %>
      <%= link_to "タイムを登録する", room_watches_path(@room.public_uid), class: "sidebar-button" %>
    </div>
  <% end %>
  <div class="invisible-index">
    <div class="threads-index">  
      <%= image_tag "toggle.png", alt: "スレッド一覧", class: "sidebar-img" %>
      <h3>スレッド一覧</h3>
    </div>
    <div class="threads-ul">
      <ul>
        <% @rooms.each do |room| %>
          <li><a href="/rooms/<%=room.public_uid%>/messages" class="thread-name"><%= room.thread_name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>