<%= render "shared/second_header.html.erb" %>

<%# タイマーの時間表示 %>
<div class="stop-watch">
  <p id="time">00:00:00.000</p>
</div>

<%# STARTとSTOPのボタン %>
<%= form_with url: room_watches_path(@room.id), class: "buttons" do |f| %>
  <%= f.submit "START", class: "btn", id: "start" %>
  <%= f.submit "RAP", class: "btn", id: "rap" %>
<% end %>

<div class="table">
  <table>
    <thead>
      <tr>
        <th class="date">日付</th>
        <th class="time">タイム</th>
        <th class="name">名前</th>
        <th class="event">種目</th>
        <th class="distance">距離</th>
      </tr>
    </thead>
    <tbody id="time-table">
      <% @watches.each do |watch| %>
        <tr>
          <td class="date">
            <%= watch.created_at.strftime('%Y/%m/%d') %>
          </td>
          <td class="time">
            <%= watch.watch %>
          </td>
          <td class="name">
            admin
          </td>
          <td class="event">
            free style
          </td>
          <td class="distance">
            200m
          </td> 
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render "shared/footer.html.erb" %>