<%= render "shared/second_header.html.erb" %>

<%# タイマーの時間表示 %>
<div class="stop-watch">
  <p id="time">00:00:00.000</p>
</div>

<%# STARTとSTOPのボタン %>
<%= form_with url: room_watches_path(@room.public_uid), class: "buttons" do |f| %>
  <%= f.submit "START", class: "btn", id: "start" %>
  <%= f.submit "LAP", class: "btn", id: "lap" %>
<% end %>

<div class="table">
  <table>
    <thead>
      <tr>
        <th class="date">日付</th>
        <th class="time">タイム</th>
        <th class="name">名前</th>
        <th class="event">種目</th>
        <th class="distance">距離</th>
      </tr>
    </thead>
    <tbody id="time-table">
      <% if @watches %>
        <% @watches.each do |watch| %>
          <tr id=<%= watch.id %>>
            <td class="date">
              <%= watch.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td class="time">
              <%= watch.watch %>
            </td>
            <td class="name">
              <%= form_with url: room_watch_path(@room.public_uid, watch.id), method: :patch do |f| %>
                <% if watch.user_id %>
                  <%= f.collection_select :user_id, @users, :id, :username, {prompt: "#{watch.user.username}"}, {class: "data-username"} %>
                <% else %>
                  <%= f.collection_select :user_id, @users, :id, :username, {prompt: true}, {class: "data-username"} %>
                <% end %>
              <% end %>
            </td>
            <td class="event">
              <%= text_field_tag :event, "#{watch.event}", id: "event-#{watch.id}", class: "data-input data-event" %>
            </td>
            <td class="distance">
              <%= text_field_tag :distance, "#{watch.distance}", id: "event-#{watch.id}", class: "data-input data-distance" %>
            </td> 
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<% if @watches %>
  <%= paginate @watches %>
<% end %>

<%= link_to "メッセージを送る", room_messages_path(@room.public_uid), class: "with-time" %>

<%= render "shared/footer.html.erb" %>