<%= render "shared/second_header.html.erb" %>

<%# タイマーの時間表示 %>
<div class="stop-watch">
  <p id="time">00:00:00.000</p>
</div>

<%# STARTとSTOPのボタン %>
<%= form_with url: room_watches_path(@room.public_uid), class: "buttons" do |f| %>
  <%= f.submit "START", class: "btn", id: "start" %>
  <%= f.submit "RAP", class: "btn", id: "rap" %>
<% end %>

<div class="table">
  <table>
    <thead>
      <tr>
        <th class="date">日付</th>
        <th class="time">タイム</th>
        <th class="name">名前</th>
        <th class="event">種目</th>
        <th class="distance">距離</th>
      </tr>
    </thead>
    <tbody id="time-table">
      <% if @watches %>
        <% @watches.each do |watch| %>
          <tr id=<%= watch.id %>>
            <td class="date">
              <%= watch.created_at.strftime('%Y/%m/%d') %>
            </td>
            <td class="time">
              <%= watch.watch %>
            </td>
            <td class="name">
              <%= form_with url: room_watch_path(@room.public_uid, watch.id), method: :patch do |f| %>
                <%= f.collection_select :user_id, @users, :id, :username, {prompt: true}, {class: "data-username"} %>
              <% end %>
            </td>
            <td class="event">
              <%= form_with url: room_watch_path(@room.public_uid, watch.id), method: :patch, class: "update-data" do |f| %>
                <%= f.text_field :event, id: "event-#{watch.id}", class: "data-input data-event", value: "#{watch.event}" %>
              <% end %>
            </td>
            <td class="distance">
              <%= form_with url: room_watch_path(@room.public_uid, watch.id), method: :patch, class: "update-data" do |f| %>
                <%= f.text_field :distance, id: "distance-#{watch.id}", class: "data-input data-distance", value: "#{watch.distance}" %>
              <% end %>
            </td> 
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<% if @watches %>
  <%= paginate @watches %>
<% end %>

<%= link_to "メッセージを送る", room_messages_path(@room.public_uid), class: "with-time" %>

<%= render "shared/footer.html.erb" %>